<div class="container">

  <div class="form-group">
    <label for="filter_text">Search:</label>
    <input class="form-control" id="filter_text" ng-model="filter_text"/>
  </div>

  <table class="table table-striped" style="border:1px solid #ccc;" ng-if="transactions.length">
    <thead>
      <th>Transaction Type</th>
      <th>Book Name</th>
      <th>User Name</th>
      <th>Issued/Returned Date</th>
    </thead>

    <tbody>
      <tr ng-repeat="transaction in transactions | filter:filter_text">
        <th>{{transaction.transaction.type=="issue" ? "Issued" : "Returned"}}</th>
        <td>{{transaction.book.name}}</td>
        <td>{{transaction.user.name}}</td>
        <td ng-if="transaction.transaction.type=='issue'">{{transaction.transaction.issue_date | date : mediumDate}}</td>
        <td ng-if="transaction.transaction.type!='issue'">{{transaction.transaction.returned_date | date : mediumDate}}</td>
      </tr>
    </tbody>
  </table>

  <div uib-alert style="background:#31B0D5;color:white" ng-if="!transactions.length">No transactions!</div>
</div>
